{% extends 'layout.html' %}
{% block page_flag %}category{% endblock %}
{% block main %}
<ol class="breadcrumb">
    <li><a href="/admin">首页</a></li>
    <li class="active">分类列表</li>
</ol>

<h3>分类列表</h3>
<table class="table table-bordered table-hover">
    <tr>
        <th>分类ID</th>
        <th>分类名</th>
        <th>操作</th>
    </tr>
    {% for category in categories %}
    <tr>
        <td>{{ category._id.toString() }}</td>
        <td>{{ category.name }}</td>
        <td>
            <a href="/admin/category/edit?id={{category._id.toString()}}">修改</a> |
            <a href="/admin/category/delete?id={{category._id.toString()}}">删除</a>
        </td>
    </tr>
    {% endfor %}
</table>

{% include 'pagination.html' %}
{% endblock %}