{% extends 'layout.html' %}
{% block page_flag %}user_info{% endblock %}
{% block main %}
<ol class="breadcrumb">
    <li><a href="/admin">首页</a></li>
    <li class="active">用户列表</li>
</ol>

<h3>用户列表</h3>
<table class="table table-bordered table-hover">
    <tr>
        <th>用户ID</th>
        <th>用户名</th>
        <th>密码</th>
        <th>是否管理员</th>
    </tr>
    {% for user in users %}
    <tr>
        <td>{{ user._id.toString() }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.password }}</td>
        <td>{% if user.isAdmin %}
            是
            {% else %}
            -
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>

{% set type={name: "user_info"} %}
{% include 'pagination.html' with type %}

{% endblock %}