.clearfix {
    zoom: 1;
}
.clearfix:after {
    display: block;
    height: 0;
    visibility: hidden;
    content: '';
    clear: both;
}

.hide {
    display: none;
}

.color-gray {
    color: #999;
}

/* blog 首页 */
.blog-header {
    padding-top: 20px;
    padding-bottom: 20px;
}
.blog-title {
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 60px;
    font-weight: normal;
}
.blog-description {
    font-size: 20px;
    color: #999;
}

.main-user {
    padding: 10px;
    background-color: #f6f6f6;
}

.logout {
    float: right;
    display: inline-block;
    margin-top: 15px;
}

.category-list {
    margin-top: 25px;
    padding-top: 15px;
    border-top: 1px solid #999;
}
.category-list-group {
    list-style: none;
    padding: 0
}
.category-list-group .category-item {
    line-height: 30px;
    cursor: pointer;
}