.clearfix {
    zoom: 1;
}
.clearfix:after {
    display: block;
    height: 0;
    visibility: hidden;
    content: '';
    clear: both;
}
.userbox {
    line-height: 30px;
}
.userbox label{
    width: 70px;
    display: inline-block;
    font-size: 16px;
}
.userbox input[type="text"] ,
.userbox input[type="password"] {
    width: calc(100% - 75px);
}
.hide {
    display: none;
}

.color-gray {
    color: #999;
}

/* blog 首页 */
.blog-header {
    padding-top: 20px;
    padding-bottom: 20px;
}
.blog-title {
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 60px;
    font-weight: normal;
}
.blog-description {
    font-size: 20px;
    color: #999;
}

.main-user {
    padding: 20px 10px;
    background-color: #f6f6f6;
}